<!-- Taken from https://github.com/irinatu17/Art-of-Tea -->
<div class="col-12 col-lg-5 ">
    <h4 class=" mb-3 font-weight-bold">Inspiring Furniture</h4>
    <p>
        <i class="fas fa-map-marker-alt mr-3"></i>
        Sunrise Street, 
        New York, USA
    </p>
    <p><i class="fas fa-phone-alt mr-3"></i><a href="tel:+1234567890" class="email-phone-link"> +123 45 678 90</a></p>
    <p><i class="fas fa-envelope mr-3"></i>
        <a href="mailto:musat.eugenia@gmail.com?subject=InspiringFurniture" class="email-phone-link">inspiringfurniture@test.com</a>
    </p>
    <!--Contact social media-->
    {% include 'contact/includes/contact_social_media.html' %} 
</div>   
