{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="star">
            <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218"/>
        </symbol>
    </svg>

    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Reviews</h2>
                <h4 class="logo-font mb-4 text-cust">{{ user }}</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table>
                    {% for product_k, product_v in products.items %}
                        <tr>
                            <td style="vertical-align: top">
                                <a href="{% url 'product_detail' product_v.id %}" target="_self">
                                    <img class="card-img-top img-fluid" style="width: 25%;" src="{{ product_v.image.url }}" alt="{{ product_v.name }}">
                                </a>
                            </td>
                            <td style="vertical-align: top">{{ product_v.name }}</td>
                            <td style="vertical-align: top" class="pl-3">
                                {% if product_v.rating == 0 %}
                                    <p>Rate this product</p>
                                    <a href="{% url 'edit_rating' product_v.id %}?type=rating&number_of_stars=1">
                                        <svg class="c-icon inactive" width="32" height="32">
                                            <use href="#star"></use>
                                        </svg>
                                    </a>
                                    <a href="{% url 'edit_rating' product_v.id %}?type=rating&number_of_stars=2">
                                        <svg class="c-icon inactive" width="32" height="32">
                                        <use href="#star"></use>
                                        </svg>
                                    </a>
                                    <a href="{% url 'edit_rating' product_v.id %}?type=rating&number_of_stars=3">
                                        <svg class="c-icon inactive" width="32" height="32">
                                            <use href="#star"></use>
                                        </svg>
                                    </a>
                                        <a href="{% url 'edit_rating' product_v.id %}?type=rating&number_of_stars=4">
                                        <svg class="c-icon inactive" width="32" height="32">
                                            <use href="#star"></use>
                                        </svg>
                                    </a>
                                    <a href="{% url 'edit_rating' product_v.id %}?type=rating&number_of_stars=5">
                                        <svg class="c-icon inactive" width="32" height="32">
                                            <use href="#star"></use>
                                        </svg>
                                    </a>
                                {% else %}
                                <p><a class="text-danger" href="{% url 'delete_rating' product_v.id %}?type=rating">Clear rating</a></p>
                                    {% for star in product_v.rating_classes %}
                                            <svg class="c-icon {{ star }}" width="32" height="32">
                                                <use href="#star"></use>
                                            </svg>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td style="vertical-align: top" class="pl-3">
                                {{ product_v.review_text }}
                                <br>
                                {% if product_v.review_text|length == 0 %}
                                    <button type="button" class="btn btn-info btn-small" data-toggle="modal" data-target="#editModal{{ product_v.id }}">
                                        Write a review
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-info btn-small" data-toggle="modal" data-target="#editModal{{ product_v.id }}">
                                        Edit review
                                    </button>
                                    <button type="button" class="btn btn-danger btn-small" data-toggle="modal" data-target="#deleteModal{{ product_v.id }}">
                                        Delete review
                                    </button>
                                {% endif %}
    
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% for product_k, product_v in products.items %}
        <!-- Edit review text Modal -->
        <div class="modal fade" id="editModal{{ product_v.id }}" tabindex="-1" role="dialog" aria-labelledby="editModal{{ product_v.id }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModal{{ product_v.id }}Label">Edit review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'edit_review' product_v.id %}" method="POST">
                    {% csrf_token %}
                <div class="modal-body">
                    {{ product_v.review_form_obj.review_text }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" name="submit" value="Save" class="btn btn-info">
                </div>
                </form>
                </div>
            </div>
            </div>

        <!-- Delete review text Modal -->
        <div class="modal fade" id="deleteModal{{ product_v.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ product_v.id }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal{{ product_v.id }}Label">Delete review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the review for '<strong>{{ product_v.name }}</strong>'?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_review' product_v.id %}" class="btn btn-danger">Delete</a>
                </div>
                </form>
                </div>
            </div>
            </div>






        {% endfor %}
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}