html {
    height: 100%;
}

body {
    background: url('/media/background-homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'sans-serif';
}

/* nav-bar dropdown menu */
.divider-cust {
    background: #555;
    height: 4px;
    border-radius: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #cf461d;
    color: white;
    min-width: 260px;
}

.btn-cust {
    background: #cf461d;
    color: white;
}

.btn-outline-black {
    background: white;
    color: #cf461d !important; /* use important to override link colors for <a> elements */
    border: 1px solid #cf461d;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #cf461d;;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-cust:hover,
.btn-cust:active,
.btn-cust:focus {
    background: #eb5e3a !important;
    color: #cf461d !important;
}

.text-logo1,
.text-account,
.text-bag,
.text-cust-special-offers {
    color: #cf461d !important;
}

.border-cust{
    border: 1px solid #cf461d;
}

.text-logo2 {
    color: white !important;
    -webkit-text-stroke: 1px rgb(155, 61, 61);
}

.logo2-cust {
    text-align: center;
    padding-top: 10rem;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
